# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iwsx
.idea/

# Main root dir
firestore.rules
firebase.json

# Lib related things
/lib/widgets/collector.dart
/lib/firebase_options.dart
/lib/main.dart

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# iOS specific
/ios/Pods
/ios/firebase_app_id_file.json
/ios/Runner/GoogleService-Info.plist
/ios/Runner/Runner.entitlements
/ios/Runner/RunnerDebug.entitlements
/ios/Runner/RunnerProfile.entitlements
/ios/Runner/RunnerRelease.entitlements

# Android specific
/android/app/google-services.json

# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
.vscode/launch.json
.vscode/settings.json
ios/build
